<div class="container p-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="form-control" id="app">
                <template id="checkPerson" v-if="activePhase == 1">
                    <div class="row">
                        <label for="Checkear Tipo Terpson" class="form-label">
                            Por favor indique si el ingresante es alumno
                        </label>
                        <input type="hidden" name="idEvento" value="1" v-model="asistencia1.idEvento" id="idEvento">
                    </div>
                    <div class="row">
                        <button class="btn btn-sm btn-danger mb-3" @click.prevent="goToStep(3)">NO</button>
                    </div>
                    <div class="row">
                        <button class="btn btn-sm btn-success" @click.prevent="goToStep(2)">SI</button>
                    </div>
                </template>
                <template id="useMatricula" v-if="activePhase == 2">
                    <div class="row">
                        <label for="Checkear Tipo Terpson" class="form-label">
                            Seleccione La matricula o busque por nombre o cedula
                        </label>
                        <select name="" id="">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                    </div>
                    <div class="row">
                        <button class="btn btn-sm btn-success" @click.prevent="goToStep(2)">SI</button>
                    </div>
                </template>
            </div>
        </div>
    </div>
</div>