<div class="container p-5">
    <img class="d-block mx-auto" width="100px" src="/img/logo-mykure.png" alt="Logo Mykure">
    <h6 class="text-center">Mykure Control System</h6>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form action="/eventos/agregar" method="POST" class="form-control">
                <div class="form-control mb-3">
                    <label for="nombreEvento" class="form-label"> Ingrese el nombre del evento</label>
                    <input class="form-control" type="text" name="nombreEvento" id="nombreEvento" placeholder="Ejemplo: Semana Ingenieria - Dia 1" autofocus required>
                </div>
                <div class="form-control mb-3">
                    <label for="idUbicacion" class="form-label"> Seleccione la ubicacion del evento</label>
                    <select name="idUbicacion" id="idUbicacion" class="form-select" required>
                        <option value="">Elegir</option>
                        {{#each ubicacion}}
                            <option value="{{idUbicacion}}">{{nombreUbicacion}} - {{nombreLugar}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-control mb-3">
                    <label for="fechaEvento" class="form-label"> Ingrese la fecha del evento</label>
                    <input class="form-control" type="date" name="fechaEvento" id="fechaEvento" placeholder="Ejemplo: 2022-09-27" autofocus required>
                </div>
                <input type="hidden" name="estadoEvento" value="en proceso">
                <div class="row mb-3">
                    <button class="btn btn-block btn-success">Agregar Evento</button>
                </div>
            </form>
        </div>
    </div>
</div>
