<div class="container p-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
           <h2 class="text-center">Sorteo de Premios</h2>
           <div class="sorteador">
                <div class="codigos">
                    <p>401u240923</p>
                </div>
                <a href="#" data-bs-toggle="modal" data-bs-target="#modalSortear" data-eliminar="/eventos/sorteo/{{evento.idEvento}}" class="btn-sortear" id="btnSortear"><i class="bi bi-dice-6"></i> SORTEAR</a>
           </div>
        </div>
    </div>
</div>
