<div class="container p-5">
    <img width="150px" class="mx-auto d-block" src="/img/mykure.png" alt="">
    <h1 class="text-center">Mykure Control System</h1>
    <div class="row">
        
    </div>
    
</div>