<div class="container p-5">
	<div class="welcome">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-9">
					<h1>Bienvenido al Sistema Mykure</h1>
					<p>Todos los eventos en tus manos</p>
				</div>
				<div class="col-md-3">
					<img width="150px" class="mx-auto d-block" src="/img/mykure.png" alt="" />
				</div>
			</div>
		</div>
	</div>
	<div class="report-center">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-3">
					<div class="shadow p-3 mb-5 bg-body rounded">
						<div class="reports-titles-blue">
							<p>Persona</p>
						</div>
						<div class="reports-content">

						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="shadow p-3 mb-5 bg-body rounded">
						<div class="reports-titles-green">
							<p>Pulseras entregadas</p>
						</div>
						<div class="reports-content">
							{{#if pulseras}}
							<h2 class="text-center mt-4">{{pulseras.entregadas}}</h2>
							{{/if}}
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="shadow p-3 mb-5 bg-body rounded">
						<div class="reports-titles-red">
							<p>Ganancias del dia</p>
						</div>
						<div class="reports-content line">
							{{#if ganancias}}
							<h2 class="text-center mt-4">{{ganancias.gananciaPulsera}}</h2>
							{{/if}}
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="shadow p-3 mb-5 bg-body rounded">
						<div class="reports-titles-purple">
							<p>Personas registradas</p>
						</div>
						<div class="reports-content">
							{{#if personasRegistradas}}
							<h2 class="text-center mt-4">{{personasRegistradas.registradas}}</h2>
							{{/if}}
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="shadow p-3 mb-5 bg-body rounded">
						<div class="reports-titles-purple">
							<p>Eventos Activos</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>