<div class="container p-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <img class="d-block mx-auto" width="100px" src="/img/logo-mykure.png" alt="Logo Mykure" />
            <h6 class="text-center">Mykure Control System</h6>
            <h2 class="text-center mb-3">Inicio de Sesion Administrador</h2>
            <form action="/login" method="post" class="form-control">
                <div class="row mb-2 p-2">
                    <label class="form-label" for="correoAdministrador">Email Administrador</label>
                    <input class="form-control" type="email" name="correoAdministrador" placeholder="correo@ejemplo.com" required>
                </div>
                <div class="row mb-2 p-2">
                    <label class="form-label" for="passwordAdministrador">Contraseña Administrador</label>
                    <input class="form-control" type="password" name="passwordAdministrador" autofocus required>
                </div>
                <div class="row mb-2 p-2">
                    <button class="btn btn-block btn-success">Iniciar Sesion</button>
                </div>
            </form>
        </div>
    </div>
    
</div>


