body {
    background-image: url('/img/bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: -moz-hidden-unscrollable;
    overflow: hidden;
}

.nav-mykure {
    background: rgba(88, 136, 231, 0.9)!important;
    font-weight: 600;
}