@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// @import url('http://fonts.cdnfonts.com/css/helvetica-neue-9?styles=49034,49031,49033,49035,49032,49036,49038,49040,49042,49044,49037,49039,49041,49043,49045,49046');
* {
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #bfdbfe;
}

#logo {
    .logo-mykure {
        img {
            width: 200px;
        }
        svg {
            display: block;
            width: 250px;
            height: 250px;
            margin: auto;
        }
        .myku-animate {
            animation: bounce;
            /* referring directly to the animation's @keyframe declaration */
            animation-duration: infinite;
            /* don't forget to set a duration! */
        }
    }
    h2 {
        font-weight: 700;
        font-size: 45px;
        text-align: center;
        color: #4338ca;
    }
}

.nav-mykure {
    background: rgba(88, 136, 231, 0.9)!important;
}

.nav-link:hover {
    background-color: white;
    color: rgba(88, 136, 231, 0.9)!important;
}

.welcome {
    background-color: #2563eb;
    border-radius: 5px;
    color: white;
    padding: 20px;
    margin: 5px;
}

.report-center {
    display: flex;
    padding: 30px;
}

.lista-eventos {
    display: flex;
    flex-direction: column;
}

.reports-titles-blue {
    display: flex;
    margin: 5px;
    padding: 5px;
    background-color: #1e40af;
    border-radius: 5px;
    align-content: center;
    flex-direction: column;
    p {
        margin: auto;
        text-align: center;
        color: white;
    }
}

.reports-titles-green {
    display: flex;
    margin: 5px;
    padding: 5px;
    background-color: #5eead4;
    border-radius: 5px;
    align-content: center;
    flex-direction: column;
    p {
        margin: auto;
        text-align: center;
        color: white;
    }
}

.reports-titles-red {
    display: flex;
    margin: 5px;
    padding: 5px;
    background-color: #fca5a5;
    border-radius: 5px;
    align-content: center;
    flex-direction: column;
    p {
        margin: auto;
        text-align: center;
        color: white;
    }
}

.reports-titles-purple {
    display: flex;
    margin: 5px;
    padding: 5px;
    background-color: #7e22ce;
    border-radius: 5px;
    align-content: center;
    flex-direction: column;
    p {
        margin: auto;
        text-align: center;
        color: white;
    }
}

.btn-alumno {
    background-color: #f472b6;
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 400;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    border: none;
}

.btn-alumno:hover {
    color: white;
    background-color: #be185d;
}

.btn-persona {
    background-color: #2dd4bf;
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 400;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    border: none;
}

.btn-persona:hover {
    color: white;
    background-color: #0f766e;
}

select {
    flex-direction: column;
}

.btn-continuar {
    background-color: #22c55e;
    width: fit-content;
    color: white;
    font-size: 20px;
    font-weight: 400;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    border: none;
}

.btn-continuar:hover {
    color: #22c55e;
    display: flex;
    background-color: white;
}

.btn-si {
    background-color: #65a30d;
    display: flex;
    color: white;
    font-size: 20px;
    font-weight: 400;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    border: none;
}

.btn-no {
    background-color: #ef4444;
    display: flex;
    color: white;
    font-size: 20px;
    font-weight: 400;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    border: none;
}

.btn-volver {
    background-color: #ca8a04;
    display: flex;
    color: white;
    font-size: 20px;
    font-weight: 400;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    border: none;
}

.sorteador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .codigos {
        border: 3px solid #be185d;
        margin: 20px;
        height: 80px;
        p {
            margin: 10px;
            text-align: center;
            font-size: 75px;
        }
    }
    .btn-sortear {
        padding: 10px 40px;
        text-decoration: none;
        background-color: #0d9488;
        display: flex;
        color: white;
        font-size: 20px;
        font-weight: 400;
        flex-direction: row;
        align-items: center;
        text-align: center;
        border-radius: 5px;
        border: none;
        i {
            margin-right: 5px;
        }
    }
    .btn-sortear:hover {
        text-decoration: none;
        color: #0d9488;
        background-color: white;
    }
}