<div class="container p-5">
    <img class="d-block mx-auto" width="100px" src="/img/logo-mykure.png" alt="Logo Mykure">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form action="/tipo-persona/agregar" method="POST" class="form-control" method="post">
                <div class="row m-5">
                    <label for="descripcionTipoPersona" class="form-label"> Ingrese el tipo de persona a agregar</label>
                    <input class="form-control" type="text" name="descripcionTipoPersona" id="descripcionTipoPersona" placeholder="Ejemplo: Invitado" autofocus required>
                </div>
                <div class="row m-5">
                    <button class="btn btn-block btn-success">Agregar nuevo tipo de Persona</button>
                </div>
            </form>
        </div>
    </div>
</div>