<div class="container" id="logo">
    {{!-- <img class="d-block mx-auto" src="/img/final-logo.svg" alt="Logo Mykure" id="logoMykure"> --}}
    <div class="logo-mykure">
        <img class="mx-auto d-block" src="/img/logo.svg" alt="">
    </div>
    <h2>Mykure System - Control de eventos</h2>
</div>




