<div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="modalEliminar" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Mykure System dice:</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>Esta seguro de eliminar este registros?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" data-bs-dismiss="modal"><i class="bi bi-x-lg"></i> Cancelar</button>
				<a	class="btn btn-sm btn-danger" id="btnEliminar"><i class="bi bi-trash"></i> Si, Eliminar Registro</a>
			</div>
		</div>
	</div>
</div>

