<div class="modal fade" id="modalSortear" tabindex="-1" aria-labelledby="modalSortear" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Mykure System dice:</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>Ganador del Sorteo:</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" data-bs-dismiss="modal"><i class="bi bi-emoji-star"></i> Sortear otro</button>
				<a	class="btn btn-sm btn-success" id="btnEliminar"><i class="bi bi-emoji-smile"></i> Guardar Sorteo</a>
			</div>
		</div>
	</div>
</div>

