<nav class="navbar navbar-expand-lg nav-mykure">
	<div class="container">
		<a class="navbar-brand" href="#">
			<img src="/img/logo-mykure.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navBarResponsive"
			aria-controls="navBarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navBarResponsive">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/">Home</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
						aria-expanded="false">
						Eventos
					</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="/eventos/agregar">Agregar Nuevo</a></li>
						<li><a class="dropdown-item" href="/eventos/todos">Ver Todos</a></li>
						<li>
							<hr class="dropdown-divider">
						</li>
						<li><a class="dropdown-item nav-mykure" href="/eventos-secundarios">Eventos Secundarios</a></li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
						aria-expanded="false">
						Grupos
					</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="/grupos/agregar">Agregar Nuevo</a></li>
						<li><a class="dropdown-item" href="/grupos/todos">Ver Todos</a></li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
						aria-expanded="false">
						Tutores
					</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="/tutores/agregar">Agregar Nuevo</a></li>
						<li><a class="dropdown-item" href="/tutores/todos">Ver Todos</a></li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
						aria-expanded="false">
						Participantes
					</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="/participantes/agregar">Agregar Nuevo</a></li>
						<li><a class="dropdown-item" href="/participantes/todos">Ver Todos</a></li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
						aria-expanded="false">
						Pulseras
					</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="/pulseras/agregar">Agregar Nuevo</a></li>
						<li><a class="dropdown-item" href="/pulseras/todos">Ver Todos</a></li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
						aria-expanded="false">
						Ubicion de Eventos
					</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="/ubicaciones/todos">Ver Ubicaciones</a></li>
						<li><a class="dropdown-item" href="/lugares/todos">Ver Lugares</a></li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
						aria-expanded="false">
						Administracion de Usuarios
					</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="/administradores/agregar">Agregar Nuevo</a></li>
						<li><a class="dropdown-item" href="/administradores/todos">Ver Todos</a></li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
						aria-expanded="false">
						Mi Cuenta
					</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="#">Cerrar Sesion</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>